@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Macondo&family=Oleo+Script+Swash+Caps&family=Roboto+Mono:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
}
body{
    height: 100vh;
    background-color: rgb(139, 252, 190);
}
.titulo{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 50px;
}
.jogo{
    position: relative;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    width: 400px;
    height: 100%;
    background-color: rgb(17, 255, 124);
    box-shadow: 0px 0px 20px;
}
table{
    position: absolute;
    transform: translate(50%, 50%);
    right: 50%;
    bottom: 50%;
    width: 306px;
}
table tr td{
    height: 100px;
    width: 100px;
    cursor: pointer;
}
table tr td img{
    transition: 0.25s;
    height: 100px;
    width: 100px;
    margin-right: 0;
}
table tr td img.X:hover{
    transform: rotate(90deg);
}
table tr td img.O:hover{
    transform: rotateX(180deg);
}
.linha{
    border-bottom: 3px dashed black;
}
.coluna{
    border-right: 3px dashed black;
}
.marcacao{
    display: none;
}
.reset{
    transition: .15s;
    text-align: center;
    position: fixed;
    text-align: center;
    outline: none;
    border: none;
    background-color: rgb(255, 55, 55);
    color: white;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 7px;
    font-weight: bold;
    transform: translateX(50%);
    right: 50%;
    bottom: 30px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 100;
}
.reset:hover{
    background-color: rgb(255, 22, 22);
}
table tr td label{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 400px) {
    .jogo{
        width: 310px;
    }
}