@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Macondo&family=Oleo+Script+Swash+Caps&family=Roboto+Mono:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
}
body{
    height: 100vh;
}
.titulo{
    margin: 15px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 50px;
}
.jogo{
    position: relative;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    width: 306px;
    height: 100%;
}
table{
    position: absolute;
    transform: translateY(50%);
    bottom: 50%;
    width: 100%;
}
table tr td{
    height: 100px;
    width: 100px;
    cursor: pointer;
}
table tr td img{
    height: 100px;
    width: 100px;
    margin-right: 0;
}
.linha{
    border-bottom: 3px dashed black;
}
.coluna{
    border-right: 3px dashed black;
}
.marcacao{
    display: none;
}
.reset{
    text-align: center;
    position: fixed;
    text-align: center;
    outline: none;
    border: none;
    background-color: rgb(255, 55, 55);
    color: white;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 7px;
    font-weight: bold;
    transform: translateX(50%);
    right: 50%;
    bottom: 30px;
}
table tr td label{
    height: 100%;
    width: 100%;
}